#form1{
     border: 2px solid;
     margin-left: 300px;
     margin-right:300px;
     background-color: rgb(126,150,192);
}
#form{
     padding-left: 25px;
     padding-right: 25px;
     
}
h2{
     text-align: center;
}
h3{
     text-align: center;
}
label{
     font-weight: bold;
     
}
td{
     width: 500px;
}